@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

@mixin fontAwesomeGenerator($childnumber ,$fontName, $content) {
  li:nth-child(#{$childnumber}) a::before {
    content: $content;
    font-family: $fontName;
    font-weight: 800;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
  li {
    margin: 0;
    padding: 0;
  }
}
header {
  background: #384C75;
  padding: 10px;
  .bullet {
    height: 10px;
    width: 10px;
    background: white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
}
.wrapper {
  display: flex;
  height: 100%;
  .navigation {
    background: #2e3243;
    width: 200px;
    display: flex;
    justify-content: center;
    @include fontAwesomeGenerator(1,"Font Awesome\ 5 Free", "\f3fd");
    @include fontAwesomeGenerator(2,"Font Awesome\ 5 Free", "\f518");
    @include fontAwesomeGenerator(3,"Font Awesome\ 5 Brands", "\f40d");
    @include fontAwesomeGenerator(4,"Font Awesome\ 5 Free", "\f1de");
    @include fontAwesomeGenerator(5,"Font Awesome\ 5 Free", "\f2f5");
  }
  .questions-wrapper {
    background: #f7f8fb;
    width: calc(100% - 500px);
    #questions {
      width: 650px;
      margin: 0 auto;
      .label {
        border: 1px solid #d1d1d1;
        border-radius: 50%;
        height: 30px;
        width: 30px;
      }
      .option {
        padding: 15px 25px;
        background: #fff;
        border: 1px solid #d1d1d1;
        margin-bottom: 10px;
      }
    }
  }
}
aside {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  .progress {
    background: #272938;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    h4 {
      font-size: 45px;
      color: #a87ece;
      font-weight: 400;
    }
  }
  .is-hidden {
    display: none!important;
  }
  .is-visible {
    display: block!important;
  }
  #startTestButton {
    display: block;
  }
  #nextButton {
    display: none;
  }
  #submitButton {
    display: none;
  }
  #submitButton.is-visible {
    display: block;
  }
}
